* {
	box-sizing: border-box;
}

/* Table of content, use only on main site */
.table-of-contents {
	width: 200px;
	background-color: silver;
}


/* story narration */
.info {
	border: 5px dashed black;
}

.narrator {
	font-style: italic;
}


/* use in chat and phone logs, characters */
.martin {
	font-weight: bold;
	color: rgb(31, 31, 189);
}

.nuong {
	font-weight: bold;
	color: rgb(216, 20, 220);
}

.an {
	font-weight: bold;
	color: rgb(220, 29, 29);
}

/* literally anyone that isn't a remarkable character */
.npc {
	font-weight: bold;
}