* {
	box-sizing: border-box;
	font-family: "Courier", serif, sans-serif;
}

/* Table of content, use only on main site */
.table-of-contents {
	width: 500px;
	border: 1px solid black;
	background-color: rgb(226, 218, 218);
}

/* advertisement, use in various */
.ad {	
	width: 400px;
	border: 2px solid black;
	background-color: rgb(116, 167, 227);
	padding: 50px;
	text-align: center;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}



.dialogue{
	width: 500px;
	margin: auto;
}

/* Basically same as ad, but without the background color, and less padding*/
.news {
	width: 400px;
	border: 2px solid black;
	padding: 50px;
	
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}

.email {
	width: 400px;
	border: 1px solid blue;
	padding: 50px;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}

table, th, td{
	width: 500px;
	border: 1px solid black;
	border-collapse: collapse;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}


/* story narration */
.info {
	border: 5px dashed black;
	width: 500px;
	text-align: center;
	padding: 20px;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
}

.narrator {
	font-style: italic;
}


/* use in chat and phone logs, characters */
.martin {
	font-weight: bold;
	color: rgb(31, 31, 189);
}

.nuong {
	font-weight: bold;
	color: rgb(216, 20, 220);
}

.alice {
	font-weight: bold;
	color: rgb(124, 48, 223);
}

.thomas {
	font-weight: bold;
	color: rgb(40, 146, 200);
}

.tien {
	font-weight: bold;
	color: rgb(15, 92, 92)
}

.louis {
	font-weight: bold;
	color: rgb(187, 165, 108)
}

.an {
	font-weight: bold;
	color: rgb(220, 29, 29);
}

.claire {
	font-weight: bold;
	color: rgb(92, 209, 92);
}


/* literally anyone that isn't a remarkable character */
.npc {
	font-weight: bold;
}
